# Ape stuff
.build/
.cache/
deployments/

# Python
.env
.venv
.pytest_cache
.python-version
__pycache__
*.pyc
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db
